menuconfig APP_SOS
    bool "SOS App"
    default y
		depends on LIB_SEL4 && (LIB_MUSL_C || LIB_SEL4_C) && LIB_SEL4_PLAT_SUPPORT && LIB_SEL4_VKA && LIB_SEL4_UTILS && LIB_UTILS && LIB_SEL4_CSPACE
    help
        Simple Operating System (aka AOS implementation)
